(
  resources: {},
  entities: {
    0: (
      components: {
        "the_dark_matter_problem::saves::components::PositionSaveComponent": (
          x: 232.2377,
          y: -208.40004,
        ),
      },
    ),
  },
)