(
  resources: {},
  entities: {
    0: (
      components: {
        "the_dark_matter_problem::saves::components::PositionSaveComponent": (
          x: -511.645,
          y: -448.39996,
        ),
      },
    ),
  },
)