(
  resources: {},
  entities: {
    0: (
      components: {
        "the_dark_matter_problem::saves::components::PositionSaveComponent": (
          x: -91.50914,
          y: -258.40002,
        ),
      },
    ),
  },
)